<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ Title }}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/TechStack">TechStack</a></li>
                <li><a href="/experience">Experience</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="contact-section">
            <h1>{{ Title }}</h1>
            <div class="markdown-content">
                {{ MarkdownHTML|safe }}
            </div>
            <div class="contact-form-container">
                <h2>Get in Touch</h2>
                <form action="mailto:contact@sohaib0khan.com" method="post" enctype="text/plain">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" placeholder="Your Name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" placeholder="Your Email" required>
                    </div>
                    <div class="form-group">
                        <label for="message">Message:</label>
                        <textarea id="message" name="message" rows="5" placeholder="Your Message" required></textarea>
                    </div>
                    <button type="submit" class="submit-button">Send</button>
                </form>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Sohaib Khan</p>
    </footer>
</body>
</html>
